@model pi4_PixieVault_DemiBruls.Models.UserItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectionItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectionItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class="col-sm-10">
            <img src="/uploads/@Model.Picture.FileName" width="100" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsForSale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsForSale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForSalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForSalePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>
</div>
<div>
    @if((string)ViewData["currentUserId"]! == (string)Model.User!.Id)
    {
        <a class="btn btn-crud" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>        
    }
    <a class="btn btn-crud" asp-action="Index">Back to List</a>
</div>
