@model IEnumerable<pi4_PixieVault_DemiBruls.Models.UserItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-crud" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionItem)
            </th>
@*             <th>
                @Html.DisplayNameFor(model => model.CollectionItemPicture)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.IsForSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForSalePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionItem.Name)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Picture.FileName)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.IsForSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForSalePrice)
            </td>
            <td>
                    @if((string)ViewData["currentUserId"]! == (string)@item.User!.Id)
                    {
                        <a class="btn btn-crud" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-crud" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                <a class="btn btn-crud" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
